---
import MoneyChart from "@/components/MoneyChart.astro";


---
<section id="Dashboard">
	<h1 class="text-3xl font-bold text-gray-800 mb-6 dark:text-white">
		Dashboard
	</h1>
	<MoneyChart />
</section>