---
import InvoiceTable from '@/components/InvoiceTable.astro'
---

<section id="Invoices">
	<h1 class="text-3xl font-bold text-gray-800 mb-6 dark:text-white">
		Invoices
	</h1>
	<InvoiceTable />
</section>
