---
import Layout from '@/layouts/Layout.astro'

import Header from '@/components/Header.astro'
import DashboardSection from '@/sections/DashboardSection.astro'
import InvoicesSection from '@/sections/InvoicesSection.astro'
import OverdueSection from '@/sections/OverdueSection.astro'
---

<Layout
	title="QuickBill - Invoice Management"
	description="QuickBill is a simple, open-source invoice management system built with Astro and Firebase. Easily manage your invoices, clients, and payments.">
	<Header />
	<main class="container mx-auto px-4 py-8 space-y-8">
		<DashboardSection />
		<OverdueSection />
		<InvoicesSection />
	</main>
	<script>
		import { getAllDataForUser } from '@/firebase/firebase'
		import {
			createChart,
			HistogramSeries,
		} from 'https://cdn.jsdelivr.net/npm/lightweight-charts@5.0.7/+esm'

		const userSession = document.getElementById('user-session')?.dataset.uid

		function listAllInvoices(allData) {
			const invoiceGrid = document.querySelector('#invoiceGrid')
			const invoiceGridData = allData.invoices.map((invoice) => {
				// find the client name from the clients array
				const client = allData.clients.find(
					(client) => client.id === invoice.clientId
				)
				return {
					client: client.companyName,
					issued: new Date(invoice.issued).toLocaleDateString(),
					total: `${invoice.totalAmount}${invoice.currency}`,
					status: invoice.status,
				}
			})
			invoiceGrid.data = invoiceGridData
		}

		await getAllDataForUser(userSession)
			.then((allData) => {
				console.log(allData)

				listAllInvoices(allData)
			})
			.catch((error) => {})

		const data = [
			{ time: '2023-01-01', value: 10 },
			{ time: '2023-01-02', value: 15 },
			{ time: '2023-01-03', value: 20 },
			{ time: '2023-01-04', value: 25 },
			{ time: '2023-01-05', value: 30 },
			{ time: '2023-01-06', value: 35 },
			{ time: '2023-01-07', value: 40 },
			{ time: '2023-01-08', value: 45 },
			{ time: '2023-01-09', value: 50 },
			{ time: '2023-01-10', value: 55 },
		]

		const chartOptions = {
			layout: {
				textColor: 'black',
				background: { type: 'solid', color: 'white' },
			},
		}

		const chart = createChart(
			document.getElementById('container'),
			chartOptions
		)
		const histogramSeries = chart.addSeries(HistogramSeries, {
			color: '#26a69a',
		})

		histogramSeries.setData(data)

		chart.timeScale().fitContent()
	</script>
</Layout>
