---
import Layout from '@/layouts/Layout.astro'

import Header from '@/components/Header.astro'

import DashboardSection from '@/section/DashboardSection.astro'
import InvoiceTableSection from '@/section/InvoiceTableSection.astro'
import OverdueListSection from '@/section/OverdueListSection.astro'

if (!Astro.cookies.get('qid')) {
	return Astro.redirect('/login')
}
---

<Layout
	title="QuickBill | Dashboard"
	description="Your QuickBill admin dashboard.">
	<Header />
	<main class="container mx-auto px-4 py-8 space-y-8">
		<DashboardSection />
		<OverdueListSection />
		<InvoiceTableSection />
	</main>
</Layout>
