---
import Chart from '@/components/Chart.astro'
---

<section id="Dashboard">
	<h1 class="text-3xl font-bold text-gray-800 mb-6 dark:text-white">Dashboard</h1>

	<!-- One Histogram Chart with two colors [green for paid, yellow for pending] -->
	<Chart />
</section>
